<mat-card class="card">
    <mat-card-content>
        <section>
            <mat-form-field class="form-field">
                <input matInput placeholder="Primeiro Nome" name="nome" [(ngModel)]="name">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-form-field class="form-field">
                <input matInput placeholder="Endereco" name="endereco" [(ngModel)]="address">
                <mat-icon matSuffix>home</mat-icon>
            </mat-form-field>
            <mat-form-field class="form-field">
                <input matInput placeholder="Tefefone" name="telefone" [(ngModel)]="phone">
                <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
            <mat-form-field class="form-field">
                <mat-select placeholder="Cidade" name="cidade" [(ngModel)]="city">
                    <mat-option *ngFor="let c of citys" [value]="c.name">
                        {{c.name}} - {{c.state}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="form-field">
                <input matInput placeholder="Idade" name="idade" [(ngModel)]="age">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
        </section>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="save()">Salvar</button>
        <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
    </mat-card-actions>
</mat-card>


<mat-card class="card" *ngIf="clients.length > 0">
    <mat-card-content>
        <section>

            <mat-list>
                <h3 matHeader>Clients</h3>
                <mat-divider></mat-divider>
                <mat-list-item *ngFor="let c of clients; let i = index">
                    <mat-icon matListIcon>person</mat-icon>
                    <h2 matLine>Nome: {{c.name}}</h2>
                    <h2 matLine>Endereco: {{c.address}}</h2>
                    <h2 matLine>Telefone: {{c.phone}}</h2>
                    <h2 matLine>Idade: {{c.age}}</h2>
                    <h2 matLine>Cidade: {{c.city}}</h2>
                    <button mat-icon-button color="accent" (click)="delete(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-list-item>
            </mat-list>
        </section>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>